.footer{
    margin-top: auto;

    .container{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: antiquewhite;
        max-width: 750px;
        margin: 0 auto;

        .navigation{
        padding: 10px 15px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .menu_nav{
            padding: 5px 4px 5px 6px;
        }
        :not(:first-child){
            margin-left: 25px;
        }
    }
    }
    
    
}