.sign_in_page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;

    .sign_in_content_block {
        padding: 8rem;
        color: black;
        background: white;

        .sign_in_form {
            display: flex;
            flex-direction: column;
        }
    }
}